@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image:url(./utils/icons/illustration\ about\ me\ desktopall.svg) ;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg {
  background-image: url(./utils/Header-llustration-desktop@2x.png);
  background-size: 98% 100%;
  height: 107vh;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -59px;
  background-position-x: 37px;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  padding-top: 13px;
  justify-content: center;
}

.logo {
  margin-left: 2vh;
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: none;
  align-items: center;
  text-align: center;
  color: #28352f;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: fit-content;
}

li {
  padding: 0% 6% 0% 6%;
  color: #172b4d;
  font-size: 15px;
  font-weight: 600;
  top: 500em;
}

a {
  text-decoration: none;
  color: #172b4d;
}

/* the whole content */

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  padding-left: 10%;
  max-width: 90%;
  padding-right: 10%;
  padding-top: 3%;
}

.title {
  padding-top: 100px;
  color: #172b4d;
  text-align: center;
}

.subTitle {
  color: #36b37e;
  text-align: center;
}

.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 60%;
  margin-top: 20px;
  text-align: center;
  color: #172b4d;
}

.socials {
  display: flex;
  margin-top: 50px;
}

.fa {
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
  color: #505f79;
}

.fa:hover {
  opacity: 0.8;
  color: #36b37e;
}

/* Works-Section */

/*this is the grid container */
.sectionTitle {
  grid-column: 1/4;
  font-size: 40px;
  font-weight: 700;
  color: #172B4D;
  margin-bottom: 20px;
}
.section-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  justify-items: center;
}

.section-container > * {
  background-color: white;
}

/*project card */

.projectCard {
  display: flex;
  flex-direction: column;
  height: 474px;
  width: 369px;
  border: 1px solid #EBF0EE;
  border-radius: 8px;
}

.cardTop {
  flex: 1;
  background-color: #EBF0EE;
  border-radius: 8px 8px 0 0;
}

.cardBottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  background-color:none;
  align-self: center;
  align-items: center;
  max-height: 222px;
  border-radius: 8px;
}

.cardTitle {
  max-width: 70%;
  margin: 16px;
  color: #172b4d;
  font-weight: 600;
  font-size: 24px;
}

.border {
  grid-column: 2/4;
  
}

.techs {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: 600;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.tech {
  background-color: #EBF0EE;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 12px 8px 12px;
  color: #172b4d;
  border-radius: 8px;
}

.btn {
  padding: 12px;
  background-color: #36B37F;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 29px;
  font-size: 17px;
  font-weight: 400;
}

.btn:hover {
  background: #18764f;
  box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}


/* About ME Section */ 

.aboutHeader {
  grid-column: 1/4;
  margin-top: 150px;
  margin-bottom: 30px;
  
}
.bioAboutme {
  grid-column: 1/4;
    max-width: 803px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #42526E;
  
}

.resumeBtn {
  grid-column: 1/4;
  padding: 12px;
  background-color: #36B37F;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
}

.resumeBtn:hover {
  background: #18764f;
  box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.technologyCard {
  display: flex;
  height: 352px;
  width: 369px;
  border: 1px solid #C1C7D0;
  background-color: #EBF0EE;
  flex-direction: column;
  border-radius: 8px;
  align-self: center;
  align-items: center;
}

.technologyCard > .cardTitle {
  max-width: 70%;
  color: #172b4d;
  font-weight: 600;
  font-size: 24px;
  margin: 7px;
  margin-top: 34px ;
}
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 12px;
}

.listItem {
  background-color: white;
  font-weight: 600;
  font-size: 12px;
  padding: 12px;
  color: #36B37E;
  border-radius: 8px;
  margin: 7px;
}




/* mobile view */ 

@media (max-width: 710px) {
  .bg {
    background-image: url(./utils/header-illsutration-mobile@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 58px;
    background-position-x: 0px;
    height: 100vh;
  }

  .header {
    justify-content: space-between;
  }

  .nav-item {
    display: none;
  }

  .logo {
    display: flex;
  }

  .fa-bars {
    display: flex;
    font-size: 18px;
    padding-top: 8px;
  }

  ul {
    justify-content: flex-end;
  }

  .title .subTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .bio {
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
  }


  /* Sections section in mob view */ 
  .sectionTitle {
    max-width: 70%;
  }

  .border {
    width: 48px;
  height: 4px;
  background-color: #36B37E;
  border-radius: 24px;
  align-self: center;
  }
  .section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
  }

  .projectCard {
    max-width: 88%
  }

  /* about section on mobile */ 

  .aboutHeader {
    margin-top: 40px;
    max-width: 88%;

  }

  .aboutHeader > .sectionTitle {
    max-width: 100%;
  }

  .technologyCard {
    max-width: 88%

  }

}



@media (min-width: 710px) {
  .fa-bars {
    display: none;
  }
}
