@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* navBar */

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* font-size: 25px; */
  font-weight:500;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  padding: 1%;
  color: #172B4D;
}

a {
  text-decoration: none;
  color: #172B4D;
}

/* the whole content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(./utils/Header-llustration-desktop@2x.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1970px 1100px;
  background-attachment: fixed;
  background-position-y: top;


}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-left: 10%;
  max-width: 90%;
  padding-right: 10%;
margin-top: 15%;}

.welcome-section > * {
  margin-top: 15px;
  color: aliceblue;
  align-self: center;
}

.title {
  font-size: 60px;
  color: #172B4D;
}

.subTitle {
  color: #36B37E;
}

.bio {
  color: #172B4D;
  font-weight: 200;
  max-width: 70%;
  text-align: center;
}

.socials {
  display: flex;
  margin-top: 50px;
}

.fa {
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px;
}



@media (max-width: 710px) {
  .nav-list {
    display: none;
  }

  .bio {
    text-align:left;
    max-width: 100%;

  }
}